$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
$xl-desktop: "(min-width: 1680px)";

$cancel: #f00;
$primary-background: #d3d3d3;
$primary-background-dark: #2a2a2a;
$secondary-background: #f0eeee;
$main-border: 2px solid #2a2a2a;
