<template>
  <transition name="modal">
    <div class="modal__mask">
      <div class="modal__wrapper">
        <div class="modal__container">
          <header class="modal__header">
            <h2>Dostępni pracownicy:</h2>
          </header>
          <div class="modal__none" v-if="$store.getters.getMyEmployees.length < 1">
            Brak zatrudnionych pracowników!
          </div>
          <div
            v-else
            v-for="myEmployee in $store.state.myEmployees"
            v-bind:key="myEmployee.id"
            class="modal__body"
          >
            {{
              `${myEmployee.name} ${myEmployee.surname} - ${myEmployee.salary}` +
                ` zł/godzinę | ${myEmployee.dob}r.`
            }}
            <button class="modal__btn" @click="redirect()">Wybierz</button>
          </div>
          <button class="modal__btn modal__btn--cancel" @click="$emit('close')">Anuluj</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  methods: {
    redirect() {
      this.$emit("close");
      this.$router.push("/calendar");
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  &__container {
    text-align: right;
  }

  &__none {
    font-size: 1.5em;
    text-align: center;
  }
  &__body {
    text-align: right;
    margin: 0;
    &:not(:last-child) {
      border-bottom: $main-border;
    }
  }

  &__btn {
    display: flex;
    justify-content: right;
    display: inline-block;
    width: 100px;
    margin: 6px;
  }
}
</style>
