<template>
  <transition name="modal">
    <div class="modal__mask">
      <div class="modal__wrapper">
        <div class="modal__container">
          <modal-user v-if="name"></modal-user>
          <modal-calendar v-if="!name"></modal-calendar>

          <footer class="modal__footer">
            <button class="modal__btn" @click="redirect()">
              {{ modalOptions.buttons.modify }}
            </button>
            <button class="modal__btn modal__btn--cancel" @click="$emit('close')">
              {{ modalOptions.buttons.cancel }}
            </button>
          </footer>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import ModalCalendar from "@/components/layout/ModalCalendar.vue";
import ModalUser from "@/components/layout/ModalUser.vue";

export default {
  methods: {
    redirect() {
      this.$emit("close");
      this.$router.push("/calendar");
    }
  },
  props: ["modalOptions", "name"],
  components: {
    ModalCalendar,
    ModalUser
  }
};
</script>

<style lang="scss">
.modal {
  &__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    transition: opacity 0.3s ease;
  }

  &__wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &__container {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0;
    background-color: rgb(241, 253, 247);
    border-radius: 2px;
    border: $main-border;
    transition: all 0.3s ease;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;

    article {
      text-align: center;
      font-size: 1.25rem;
      margin: 1rem;
      width: 100%;
      margin: 10px auto;
      > table {
        font-size: 1rem;
      }
    }
  }

  &__header {
    text-align: center;
  }

  &__body {
    text-align: center;
    margin: 20px 0;
  }

  &__table {
    margin: 0 auto;
    border: $main-border;
    border-collapse: collapse;
    width: 80%;
  }

  &__table-data {
    border: $main-border;
    padding: 4px 10px;
  }

  &__head-item {
    border: $main-border;
  }

  &__footer {
    display: flex;
  }

  &__btn {
    @include btn;
    margin: 0 10px;
    min-width: 10%;
    min-height: 30%;

    &--cancel {
      background-color: $cancel;
    }
  }
}

@media #{$tablet} {
  .modal {
    &__container {
      width: 60%;
    }
  }
}

@media #{$desktop} {
  .modal {
    &__container {
      width: 40%;
    }
  }
}

@media #{$xl-desktop} {
  .modal {
    &__container {
      width: 30%;
    }
  }
}
</style>
