<template>
  <article class="modal__body">
    <table class="modal__table">
      <thead>
        <th class="modal__head-item">Godzina</th>
        <th class="modal__head-item">Dodaj</th>
        <th class="modal__head-item">Pracownicy</th>
      </thead>
      <tbody>
        <tr v-for="shift in shifts" :key="shift">
          <td class="modal__table-data modal__table-shift">
            {{ shift }}
          </td>
          <td class="modal__table-data">
            <button class="modal__btn" @click="showModal = true">Dodaj</button>

            <creator v-if="showModal" @close="showModal = false"></creator>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</template>

<style lang="scss" scoped>
.modal {
  &__table-data {
    padding: 5px;
  }

  &__table-button {
    border: $main-border;
  }

  &__table-shift {
    font-weight: bold;
  }
}
</style>

<script>
import Creator from "@/components/layout/Creator.vue";

export default {
  data() {
    return {
      showModal: false,
      shifts: [
        "00:00 - 04:00",
        "04:00 - 08:00",
        "08:00 - 12:00",
        "12:00 - 16:00",
        "16:00 - 20:00",
        "20:00 - 00:00"
      ]
    };
  },

  components: {
    Creator
  }
};
</script>
