<template>
  <article>
    <table class="modal__table" v-if="this.$store.state.calendar?.calendar">
      <thead>
        <th class="modal__head-item">Data</th>
        <th class="modal__head-item">Godziny</th>
      </thead>
      <tbody
        class="modal__body"
        v-for="calendar in Object.entries(this.$store.state.calendar?.calendar)"
        v-bind:key="calendar.id"
      >
        <tr>
          <td class="modal__table-data">
            {{ calendar[0] }}
          </td>
          <td class="modal__table-data">
            {{ calendar[1] }}
          </td>
        </tr>
      </tbody>
    </table>
    <article v-else>
      Brak zmian dla tego użytkownika. Przejdź do kalendarza.
    </article>
  </article>
</template>
