<template>
  <header class="header">
    <nav class="header__navigation">
      <h1 class="header__main-heading">
        <router-link to="/" class="header__logo">Schedule.vue</router-link>
      </h1>
      <ul class="header__navigation-items">
        <li>
          <router-link to="/employees" class="header__navigation-item">Pracownicy</router-link>
        </li>
        <li>
          <router-link to="/calendar" class="header__navigation-item">Kalendarz</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
.header {
  width: 100vw;
  background-color: $primary-background-dark;

  &__main-heading {
    margin: 0 auto;
    padding: 1.25em;
  }

  &__navigation-items {
    list-style: none;
    margin: 0;
    padding: 0 0 2em 0;
  }

  &__navigation-item {
    text-decoration: none;
    color: $primary-background;
    display: inline-block;
    padding: 0.75rem 0;
    margin: 0.25rem 0;
    width: 80vw;

    &:active,
    &:hover,
    &.router-link-active {
      border: 1px solid $primary-background;
    }
  }

  &__logo {
    color: white;
    margin: 0.25em 0.25em;
    text-decoration: none;
    font-size: 1.6em;

    &:active,
    &:hover {
      border-color: transparent;
    }
  }
}

@media #{$tablet}, #{$desktop} {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__main-heading {
      margin: 0;
    }

    &__navigation {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__navigation-items {
      margin: 0;
      padding: 0;
      display: flex;
    }

    &__navigation-item {
      margin: 0.25em;
      padding: 1em;
      display: inline;
    }
  }
}
</style>
