<template>
  <section class="days-of-week">
    <div class="days-of-week__item" v-for="(date, index) in dates()" v-bind:key="date">
      <div class="days-of-week__header">
        <div class="days-of-week__date">{{ daysOfWeek(index) }} - {{ date }}</div>
        <button class="days-of-week__btn" @click="showModal = true">
          Edytuj
        </button>
        <modal v-if="showModal" @close="showModal = false" :modalOptions="modalOptions"></modal>
      </div>
      <div class="days-of-week__shift-wrapper" v-for="shift in shifts" v-bind:key="shift">
        <div class="days-of-week__shift">{{ shift }}</div>
      </div>
    </div>

    <button
      class="days-of-week__change-week"
      :disabled="isDisabled"
      @click="calculatePreviousWeek()"
      v-bind:class="[isDisabled ? 'days-of-week__change-week--disabled' : '']"
    >
      Poprzedni tydzień
    </button>
    <button class="days-of-week__change-week" @click="calculateNextWeek()">Następny tydzień</button>
  </section>
</template>

<script>
import Modal from "@/components/layout/Modal.vue";

export default {
  methods: {
    dates(current = new Date()) {
      const week = [];
      current.setDate(current.getDate() - current.getDay() + 1 + this.$store.state.weekCounter * 7);
      for (let i = 0; i < 7; i++) {
        week.push(
          `${current.getDate()}/${
            current.getMonth() > 10 ? current.getMonth() + 1 : `0${current.getMonth() + 1}`
          }/${current.getFullYear()}`
        );
        current.setDate(current.getDate() + 1);
      }
      return week;
    },
    daysOfWeek(index) {
      const daysOfWeek = [
        "Poniedziałek",
        "Wtorek",
        "Środa",
        "Czwartek",
        "Piątek",
        "Sobota",
        "Niedziela"
      ];
      return daysOfWeek[index];
    },
    calculateNextWeek() {
      this.$store.commit("weekIncrement");
      this.isDisabled = false;
      this.$forceUpdate();
      this.dates();
    },
    calculatePreviousWeek() {
      this.$store.commit("weekDecrement");
      if (this.$store.state.weekCounter === 0) {
        this.isDisabled = true;
      }
      this.$forceUpdate();
      this.dates();
    }
  },
  data() {
    return {
      renderComponent: true,
      isDisabled: true,
      shifts: [
        "00:00 - 04:00",
        "04:00 - 08:00",
        "08:00 - 12:00",
        "12:00 - 16:00",
        "16:00 - 20:00",
        "20:00 - 00:00"
      ],
      showModal: false,
      date: this.date,
      modalOptions: {
        buttons: {
          modify: "Zmień",
          cancel: "Anuluj"
        }
      }
    };
  },
  components: {
    Modal
  }
};
</script>

<style lang="scss" scoped>
.days-of-week {
  &__item {
    background-color: $secondary-background;
    margin-bottom: 1rem;
  }

  &__header {
    background: $primary-background;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__date {
    padding-bottom: 10px;
  }

  &__btn {
    @include btn;
  }

  &__shift {
    width: 25vw;
    padding-right: 10px;
    border-right: $main-border;
  }

  &__shift-wrapper {
    padding: 0.5rem;
    margin: 0.5rem;

    &:not(:last-child) {
      border-bottom: $main-border;
    }
  }

  &__change-week {
    @include btn;

    &--disabled {
      background-color: #646464;
    }
  }
}

@media #{$tablet} {
  .days-of-week {
    &__item {
      margin: auto 4%;
    }

    &__btn {
      width: 60vw;
    }

    &__shift {
      width: 23vw;
    }

    &__change-week {
      width: 30vw;
      margin: 10px;
    }
  }
}

@media #{$desktop} {
  .days-of-week {
    &__item {
      margin: auto 10%;
    }

    &__btn {
      width: 35vw;
    }

    &__shift {
      width: 15vw;
    }

    &__change-week {
      width: 20vw;
    }
  }
}

@media #{$xl-desktop} {
  .days-of-week {
    &__item {
      margin: auto 20%;
    }

    &__btn {
      width: 20vw;
    }

    &__change-week {
      width: 10vw;
    }
  }
}
</style>
