<template>
  <section v-if="hired == true" class="employees">
    <section class="employees__employee">
      <img class="employees__avatar" :src="avatar" alt="Avatar" />
      <div class="employees__basic-info">
        <p class="employees__basic-info-item">{{ `${name}&nbsp;${surname}` }}</p>
        <p class="employees__basic-info-item">{{ `Data&nbsp;urodzenia: ${dob}r.` }}</p>
        <p class="employees__basic-info-item">{{ `${salary}&nbsp;zł&nbsp;/&nbsp;godzinę` }}</p>
        <button v-if="status === 'unemployed'" class="employees__btn" @click="hire()">
          Zatrudnij
        </button>
        <button
          v-if="status == 'employed'"
          class="employees__btn"
          id="show-modal"
          @click="getCalendarData()"
        >
          Grafik
        </button>

        <modal
          v-if="showModal"
          :modalOptions="modalOptions"
          @close="showModal = false"
          v-bind:name="`${name} ${surname}`"
        ></modal>
        <button
          v-if="status == 'employed'"
          class="employees__btn employees__btn--fire"
          @click="fire()"
        >
          Zwolnij
        </button>
      </div>
    </section>
  </section>
</template>

<script>
import axios from "axios";
import Modal from "@/components/layout/Modal.vue";

export default {
  methods: {
    hire() {
      const hiredEmployee = {
        id: this.id,
        name: this.name,
        surname: this.surname,
        dob: this.dob,
        avatar: this.avatar,
        salary: this.salary,
        status: this.status === "employed" ? "unemployed" : "employed"
      };
      this.hired = !this.hired;
      this.$emit("hired", hiredEmployee);
    },
    fire() {
      const firedEmployee = {
        id: this.id,
        name: this.name,
        surname: this.surname,
        dob: this.dob,
        avatar: this.avatar,
        salary: this.salary,
        status: this.status === "employed" ? "unemployed" : "employed"
      };
      this.hired = !this.hired;
      this.$emit("fired", firedEmployee);
    },
    getCalendarData() {
      this.showModal = true;
      axios.get(`/api/calendar/${this.$props.id}`).then(res => {
        this.$store.state.calendar = res.data;
      });
    }
  },
  data() {
    return {
      myEmployees: [],
      hired: true,
      showModal: false,
      modalOptions: {
        buttons: {
          modify: "Modyfikuj",
          cancel: "Anuluj"
        }
      }
    };
  },
  props: ["id", "name", "surname", "dob", "salary", "avatar", "status"],
  components: {
    Modal
  }
};
</script>

<style lang="scss" scoped>
.employees {
  &__employee {
    width: 86%;
    margin: 10px auto;
    display: flex;
    background-color: $secondary-background;
    justify-content: space-evenly;
  }

  &__avatar {
    margin: auto 1em;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
  }

  &__basic-info {
    margin: 0 2em;
    text-align: right;
  }

  &__basic-info-item {
    margin: 0.25em;
  }

  &__btn {
    @include btn;

    &--fire {
      background-color: $cancel;
    }
  }
}
</style>
