<template>
  <section class="employees">
    <h2 class="employees__header">Moi pracownicy</h2>
    <div v-if="$store.getters.getMyEmployees.length < 1" class="employees__none-employees">
      Brak zatrudnionych pracowników!
    </div>
    <employee
      class="employees__employee"
      @fired="fire"
      v-else
      v-for="employee in $store.getters.getMyEmployees"
      v-bind:key="employee.id"
      v-bind:id="employee.id"
      v-bind:name="employee.name"
      v-bind:surname="employee.surname"
      v-bind:dob="employee.dob"
      v-bind:salary="employee.salary"
      v-bind:avatar="employee.avatar"
      v-bind:status="employee.status"
    ></employee>
  </section>
  <section class="employees">
    <h2 class="employees__header">Gotowi podjąć pracę</h2>
    <employee
      class="employees__employee"
      @hired="hire"
      v-for="employee in $store.getters.getEmployees"
      v-bind:key="employee.id"
      v-bind:id="employee.id"
      v-bind:name="employee.name"
      v-bind:surname="employee.surname"
      v-bind:dob="employee.dob"
      v-bind:salary="employee.salary"
      v-bind:avatar="employee.avatar"
      v-bind:status="employee.status"
    ></employee>
  </section>
</template>

<script>
import axios from "axios";
import Employee from "@/views/Employee.vue";

export default {
  created() {
    axios.get("/api/employees").then(res => {
      this.$store.state.employees = res.data;
    });
    axios.get("/api/my-employees").then(res => {
      this.$store.state.myEmployees = res.data;
    });
  },
  methods: {
    hire(value) {
      axios
        .post("/api/my-employees", { data: value })
        .then(response => {
          this.$store.state.myEmployees.push({
            id: response.data.id,
            name: response.data.name,
            surname: response.data.surname,
            dob: response.data.dob,
            avatar: response.data.avatar,
            salary: response.data.salary,
            status: response.data.status
          });
        })
        .then(axios.delete(`/api/employees/${value.id}`));
    },

    fire(value) {
      axios.delete(`/api/my-employees/${value.id}`).then(
        axios.post("/api/employees", { data: value }).then(response => {
          this.$store.state.employees.push({
            id: response.data.id,
            name: response.data.name,
            surname: response.data.surname,
            dob: response.data.dob,
            avatar: response.data.avatar,
            salary: response.data.salary,
            status: response.data.status
          });
        })
      );
    }
  },
  components: {
    Employee
  }
};
</script>

<style lang="scss" scoped>
.employees {
  &__header {
    font-weight: bold;
    font-size: 2em;
  }

  &__none-employees {
    color: $primary-background-dark;
    font-size: 2em;
  }

  @media #{$tablet} {
    .employees {
      margin: 10px;
      display: inline-flex;
      width: 47vw;
    }
  }

  @media #{$desktop} {
    .employees {
      width: 30vw;
    }
  }

  @media #{$xl-desktop} {
    .employees {
      width: 25vw;
    }
  }
}
</style>
