<template>
  <section style="not-found">
    <img class="not-found__image" src="@/assets/images/404.png" alt="Not found image" />
  </section>
</template>

<style lang="scss" scoped>
.not-found {
  &__image {
    max-width: 80vw;
    height: auto;
  }
}
</style>
